<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /tphl_project/public/

    # Serve existing files/folders
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # All other requests → index.php
    RewriteRule ^ index.php [QSA,L]
</IfModule>
